/* ==UserStyle==
@name           Quizlet darker
@namespace      quizlet.com
@version        1.1.0
@description    Makes quizlet actually dark, as in grey.
@author         dtomvan#8116
@preprocessor   stylus

@var            color   bg 'Background color' #1a1a1a
==/UserStyle== */


@-moz-document domain("quizlet.com") {
    div.ModeLayout {
        background-color: bg!important;
    }

    div.CardsItemSide-inner {
        background-color: bg!important;
    }

    div.ModeControls-main {
        background-color: bg!important;
    }

    .SetPageModes-group .SetPageModeButton:hover .SetPageModeButton-modeName {
        color: white!important;
    }

    aside.ModeControls-sidebar {
        background-color: bg!important;
    }

    div.TopNavigation-content {
        background-color: bg!important;
    }

    header.TopNavigation {
        background-color: bg!important;
    }

    div.ClassPageHeader--compact {
        background-color: bg!important;
    }

    div.DashboardPage-main {
        background-color: bg!important;
    }

    div.UIDiv.ClassPageBanner {
        background-color: bg!important;
    }

    div.PreviewCard.PreviewCard--noLinkBox {
        background-color: #222734;
    }

    div div div {
        text-align: left;
    }

    .DashboardPage > div:nth-child(2) > div:nth-child(2) {
        background-color: bg!important;
        border-style: solid;
        border-color: #ffffff;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 1px;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .UIInput {
        min-width: 100%;
    }

    div.UILinkBox {
        background-color: #2f3545;
    }

    div.SetPage-setIntro {
        background-color: bg!important;
    }

    div.SetPage-setIntroWrapper {
        background-color: bg!important;
    }

    div.SetPage-setDetailsInfoWrapper {
        background-color: bg!important;
    }

    div.SetPage-setDetailsTermsWrapper {
        background-color: bg!important;
    }

    div.SetPageStickyHeader.is-pinned.hgmlhdt {
        background-color: bg!important;
    }

    .hgmlhdt {
        background-color: bg!important;
    }

    div.SetPage-setLinksWrapper {
        background-color: bg!important;
    }

    footer.SiteFooter {
        background-color: bg!important;
    }

    #SetPageTarget {
        background-color: bg!important;
    }

    div.SetPageWrapper {
        background-color: bg!important;
    }

    div.SiteFooter-bottom {
        background-color: bg!important;
    }

    div.irc6ilh {
        background-color: bg!important;
    }

    div.clarv1u {
        background-color: bg!important;
    }

    html.firefox.cursor {
        background-color: bg!important;
    }

    div.WriteQuestion {
        background-color: #222222;
    }

    div.WriteQuestion-prompt {
        border-bottom: 1px solid #fff;
    }

    div.UIDiv.SpellQuestionView {
        background-color: bg!important;
    }

    div.UIDiv.SpellOnboardingView {
        background-color: bg!important;
    }

    div.pewd1ns {
        background-color: bg!important;
    }

    div.b1bxhw81 {
        background-color: #f3f3f3;
    }

    main.page {
        background-color: bg!important;
    }

    span.Divider-label--lowercase.Divider-label {
        background-color: #2e3856;
    }

    form.fn8x3b9 {
        justify-content: space-evenly;
        text-align: center;
    }

    div.peitfrk {
        background-color: bg!important;
    }

    section.DashboardLayout-main {
        background-color: bg!important;
    }

    .ScrollableViewLayout-topBlur {
        background: inherit;
    }

    .ScrollableViewLayout-bottomBlur {
        background: inherit;
    }

    .WrittenQuestionFeedbackView {
        background-color: bg!important;
    }

    div.CardsList-navControl.progressIndex {
        text-align: center;
    }

    div.MatchModeStudyBreak-wrapper {
        background-color: bg!important;
    }

    div.azxco9w {
        background-color: bg!important;
    }

    div.HighscoresList {
        background-color: bg!important;
    }

    div.HighscoreRow-positionWrapper {
        text-align: center;
    }

    button.UIButton {
        color: #FFF!important;
    }

    div a span {
        color: #fff;
    }

    div.asfhh6p.f1iowrf {
        display: none;
    }

    .MatchModeStudyBreak-listWrapper {
        min-width: 100%;
    }

    div.HighscoresMessage div.UIDiv.HighscoresMessage-button a.UILink:hover {
        background-color: #4255ff!important;
    }

    div a.AssemblyPrimaryButton--upgrade {
        background-color: bg!important;
    }

    .theme-night .HighscoreRow.is-ownHighscore {
        box-shadow: none;
    }

    .poy4xqf::-webkit-scrollbar {
        display: none;
    }

    .poy4xqf {
        -ms-overflow-style: none;
        scrollbar-width: none;
        box-shadow: none;
    }

    .AssemblyButtonBase {
        height: 100%!important;
        border-width: 1px;
        border-color:white!important;
    }
    
    .AssemblyButtonBase:focus-visible {
        border-width: 0;
    }

    .ceozeqf > div:nth-child(1) > div:nth-child(1) {
        height: 100%;
    }

    .o1nx8be3 > div > button {
        background-color: bg!important;
    }

    .AssemblyButtonBase[aria-label="Leren"] > svg:nth-child(2) {
        transform: translateY(2px);
    }

    .SetPageModeButton:hover {
        background-color: bg!important;
        box-shadow: #fff 2px 2px 0px 2px!important;
        color: #fff!important;
    }

    div.SetPageTerms-editButtonWrapper > .UIButton--hero[role=button] {
        width: 100%;
    }


    .o1cv2anc {
        background: rgba(0, 0, 0, 0.75);
    }


    div.SetPageTermChunk-selectAll {
        text-align: right;
    }

    .NavigationTab:active::after,
    .NavigationTab:focus::after,
    .NavigationTab:hover::after {
        width: 100%;
    }

    .NavigationTab::after {
        transition: all .12s cubic-bezier(.47, 0, .745, .715);
        width: 0;
    }

    div div button.AssemblyButtonBase {
        background: bg!important;
    }
    
    div div button.AssemblyButtonBase.AssemblyIconButton--circle {
        background: #2e3856!important;
    }
    
    div div a.AssemblyButtonBase.AssemblyIconButton--circle {
        background: #2e3856!important;
    }
}
